<h1>Calandar</h1>

<form>
  <label for="city">Entrez votre ville : </label>
  <input id="city" type="text">
  <input id="searchByCity" type="button" value="Rechercher">
  <input id="searchByLocalisation" type="button" value="Localisation">
</form>

<h4 id="nameOfCity"></h4>
<table id="salat-of-month">
  <thead>
    <tr>
      <td>Date</td>
      <td id="fajrHour">Fajr</td>
      <td>Shourouk</td>
      <td>Dhor</td>
      <td>Asr</td>
      <td>Maghreb</td>
      <td>Icha</td>
      <td>Millieu de la nuit</td>
    </tr>

  </thead>
  <tbody id="event-list-row">
    <!-- existing data could optionally be included here -->
  </tbody>
</table>


<template id="DayAndHourRow">
  <tr>
    <td></td>
    <td class="fajrHour"></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="maghrebHour"></td>
    <td></td>
    <td class="middleOfNight"></td>
  </tr>
</template>