<h1>Priere du jour</h1>

<form >
    <label for="city">Entrez votre ville : </label>
    <input id="city" type="text">
    <input id="searchByCity" type="button" value="Rechercher">
</form>

<table id="salat-of-the-day">
    <tbody>
        <tr>
            <td>Date</td>
            <td class="dateOfTheDay"></td>
        </tr>
        <tr>
            <td>Fajr</td>
            <td class="fajr"></td>
        </tr>
        <tr>
            <td>Sourouk</td>
            <td class="shourouk"></td>
        </tr>
        <tr>
            <td>Dhor</td>
            <td class="dhor"></td>
        </tr>
        <tr>
            <td>Asr</td>
            <td class="asr"></td>
        </tr>
        <tr>
            <td>Maghreb</td>
            <td class="maghreb"></td>
        </tr>
        <tr>
            <td>Icha</td>
            <td class="icha"></td>
        </tr>
        <tr>
            <td>Millieu de la nuit</td>
            <td class="midnight"></td>
        </tr>
     
    </tbody>
  </table>


