<h1>Priere du jour</h1>

<form >
    <label for="city">Entrez votre ville : </label>
    <input id="city" type="text">
    <input id="searchByCity" type="button" value="Rechercher">
    <input id="searchByLocalisation" type="button" value="Localisation">

</form>

<table id="salat-of-the-day">
    <tbody>
        <tr>
            <td>Date</td>
        </tr>
        <tr>
            <td id="dateOfTheDay"></td>

        </tr>
        <tr>
            <td>Fajr</td>
        </tr>
        <tr>
            <td id="fajr"></td>
        </tr>
        <tr>
            <td>Shourouk</td>
        </tr>
        <tr>
            <td id="shourouk"></td>
        </tr>
        <tr>
            <td>Dhor</td>
        </tr>
        <tr>
            <td id="dhor"></td>
        </tr>
        <tr>
            <td>Asr</td>
        </tr>
        <tr>
            <td id="asr"></td>
        </tr>
        <tr>
            <td>Maghreb</td>
        </tr>
        <tr>
            <td id="maghreb"></td>
        </tr>
        <tr>
            <td>Icha</td>
        </tr>
        <tr>
            <td id="icha"></td>
        </tr>
        <tr>
            <td>Millieu de la nuit</td>
        </tr>
        <tr>
            <td id="midnight"></td>
        </tr>
     
    </tbody>
  </table>


